:host ::ng-deep .p-table {
    table-layout: fixed;
    width: 100%;
}

.search-form-table {
    label {
        margin: 0 10px;
    }
}

.grid {
    align-items: center;
}

.mobile-approve-time {
    .grid {
        align-items: center;
    }

    label {
        font-weight: 500;
    }
}