<div class="body-list-employee sm:p-2">
  <div class="search-employee" [formGroup]="searchForm">
    <div class="field-view">
      <label class="standard-label">Mã Dự Án</label>
      <input class="" type="text" [maxLength]="30" formControlName="codeProjects" (keyup.enter)="onSearch()"
        pInputText />
    </div>
    <div class="field-view">
      <label class="standard-label">Tên Dự Án</label>
      <input class="" type="text" formControlName="nameProjects" (keyup.enter)="onSearch()" pInputText
        [maxLength]="50" />
    </div>
    <button pButton pRipple type="button" label="Tìm Kiếm" (click)="onSearch()" class=""></button>
  </div>
  <div class="col-12 create-and-page">
    <button routerLink="/projects-edit" pButton pRipple type="button" label="Thêm mới" class=""></button>
    <div class="page-from">
      <p-paginator [rows]="pageSize" [totalRecords]="totalRecord" [pageLinkSize]="pageLinkSize"
        (onPageChange)="pageClick($event)" #paginator>
      </p-paginator>
    </div>
  </div>
  <p-table [columns]="columns" [resizableColumns]="true" [scrollable]="true" [value]="listProjects" scrollHeight="70vh"
    styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm">
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col style="width: 5%" />
        <col style="width: 14%" />
        <col style="width: 20%" />
        <col style="width: 12%" />
        <col style="width: 14%" />
        <col style="width: 10%" />
        <col style="width: 12%" />
        <col style="width: 8%" />
        <col style="width: 5%" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" style="text-align: center">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr [pSelectableRow]="data">
        <td style="text-align: center">
          <button pButton pRipple type="button" (click)="editProjects(data.id)" icon="pi pi-pencil"
            class="p-button-rounded p-button-text p-button-info btn-delete"></button>
        </td>
        <td style="text-align: center">{{data.codeProjects}}</td>
        <td style="text-align: center">{{data.nameProjects}}</td>
        <td style="text-align: center">{{data.timeStart}}</td>
        <td style="text-align: center">{{data.timeEnd}}</td>
        <td style="text-align: center">{{data.customer}}</td>
        <td style="text-align: center">{{data.technology}}</td>
        <td style="text-align: center">{{data.totalOt}}</td>
        <td style="text-align: center">
          <button pButton pRipple type="button" icon="pi pi-times" (click)="confirm('top', data.id)"
            class="p-button-rounded p-button-text p-button-danger btn-delete"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast position="top-right"></p-toast>
<p-confirmDialog #cd [style]="{ width: '30vw' }" key="positionDialog" [position]="position"
  rejectButtonStyleClass="p-button-outlined">
  <ng-template pTemplate="footer">
    <button type="button" class="succer-button" [style]="{ padding: '5px 10px' }" pButton
      (click)="cd.accept()"></button>
    <button type="button" class="cancel-button" pButton (click)="cd.reject()"></button>
  </ng-template>
</p-confirmDialog>