.custom-tb {
  width: 90%;
}

.edit-projects{
  margin: 10px;
}

.edit-projects .form-edit-projects{
  width: 100%;
  margin-bottom: 10px;
}

.edit-projects .form-edit-projects tr{
  height: 50px;
}

.edit-projects .btn-edit-projects {
  text-align: end;
}

.title-edit-project {
  padding: 0.5rem;
  width: 14%;
}

.title-employee-join {
  margin: 10px;
}

.router-link{
  text-align: center;
}

.router-link:hover{
  text-decoration: underline;
  color: #ea733b;
}
