.form-login {
  width: 25%;
  background-color: #daecff;
  text-align: center;
  border-radius: 10px;
}

@media(max-width:500px) {
  .form-login {
    width: 87%;
    margin-top: 25%;
  }

  .text-center {
    margin-top: 25%;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.logo img {
  @media(min-width: 320px) {
    width: 25vh;
    height: 15vh;
  }

  @media(min-width: 768px) {
    margin-top: -10%;
    width: 100%;
    height: 60%;
    max-width: 400px;
  }
}

.cardbody-color {
  background-color: #ebf2fa;
}

.btn-color {
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 35px;
}

.forgot-pass {
  margin: 20px auto;
}

.login-failed {
  text-align: center;
  margin: -5px 0 15px;
  color: #f44336;
  font-weight: 500;
}