<div class="row justify-content-center">
    <h2 class="text-center text-dark mt-5">Forgot Password</h2>
    <form class="p-lg-5 pb-lg-2 form-login" [formGroup]="formData">

        <div class="logo col-sm-12 mt-2">
            <img src="./assets/images/Globalxanh.png" alt="login" />
        </div>
        <div class="form-input col-sm-12">
            <p style="text-align:left ">Nếu bạn quên mật khẩu, bạn có thể dùng mẫu sau để thiết lập lại mật khẩu. Bạn sẽ
                nhận được một email điều hướng tới trang thay đổi mật khẩu.</p>
            <div class="min-w-full flex flex-row justify-content-center">
                <input type="text" class="form-control" formControlName="email" maxlength="40"
                    aria-describedby="emailHelp" placeholder="Email"
                    [ngClass]="{ 'ng-dirty': submitted && f.email.errors }">
            </div>
            <div *ngIf="submitted && !flagSuccess " class="login-failed mt-2">
                <span>{{validate.MES_2}}</span>
            </div>

            <div *ngIf="submitted && flagSuccess " class="login-failed mt-2">
                <span>{{validate.MES_10}}</span>
            </div>
            <button type="submit" (click)="onSubmit()" class="btn-color col-sm-12 mt-3 mb-3 w-full">Đổi Mật
                Khẩu</button>
        </div>
    </form>
</div>