.title-divider {
    font-weight: 500;
    width: 100%;
    // text-align: left;
    border-bottom: 2px solid #00000030;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.title-divider span {
    background: white;
    color: #000;
    margin-left: 40px;
    padding: 0 20px;
}