<!-- <div class="row justify-content-center" *ngIf="checkToken">
    <h2 class="text-center text-dark mt-3">Change Password!</h2>
    <form class="p-lg-5 pb-lg-2 form-login" [formGroup]="formData">
        <div class="logo col-sm-12 mt-2">
            <img src="./assets/images/Globalxanh.png" alt="login" />
        </div>
        <div class="form-input col-sm-12">
            <div class="col-sm-12 mb-3">
                <input type="password" class="form-control" formControlName="password" maxlength="30"
                    placeholder="Password" [ngClass]="{ 'ng-dirty': submitted && f.password.errors }">
                <div *ngIf="(f.password.invalid && f.password.dirty) || (submitted && f.password.errors)"
                    class="p-error">
                    <div *ngIf="f.password.errors">{{validate.MES_3}}</div>
                </div>
            </div>
            <div class="col-sm-12 mb-3">
                <input type="password" class="form-control" formControlName="passwordRetype" maxlength="30"
                    placeholder="Retype Password" [ngClass]="{ 'ng-dirty': submitted && f.passwordRetype.errors }">
                <div *ngIf="(f.passwordRetype.invalid && f.passwordRetype.dirty) || (submitted && f.passwordRetype.errors)"
                    class="p-error">
                    <div *ngIf="f.passwordRetype.errors">{{validate.MES_3}}</div>
                </div>
                <div class="p-error" *ngIf="!flagCheck">{{validate.MES_11}}</div>
            </div>
            <button type="submit" (click)="onSubmit()" class="btn-color col-sm-12">Reset</button>
        </div>
    </form>
</div> -->
<div class="row justify-content-center" *ngIf="checkToken">
    <h2 class="text-center text-dark mt-3">Change Password!</h2>
    <form class="p-lg-5 pb-lg-2 form-login" [formGroup]="formData">
        <div class="logo col-sm-12 mt-2">
            <img src="./assets/images/Globalxanh.png" alt="login" />
        </div>
        <div class="form-input col-sm-12">
            <div class="col-sm-12 mb-2 flex flex-column">
                <div class="min-w-full flex flex-row justify-content-center">
                    <input type="password" class="form-control w-full" formControlName="password" maxlength="40"
                        aria-describedby="emailHelp" placeholder="Mật Khẩu"
                        [ngClass]="{ 'ng-dirty': submitted && f.password.errors }">
                </div>
                <div *ngIf="(f.password.invalid && f.password.dirty) || (submitted && f.password.errors)"
                    class="p-error">
                    <div *ngIf="f.password.errors">{{validate.MES_3}}</div>
                </div>
            </div>
            <div class="col-sm-12 mb-1 flex flex-column">
                <div class="min-w-full flex flex-row justify-content-center">
                    <input type="password" class="form-control w-full" formControlName="passwordRetype"
                        maxlength="30" placeholder="Nhập Lại Mật Khẩu"
                        [ngClass]="{ 'ng-dirty': submitted && f.passwordRetype.errors }">
                </div>
                <div *ngIf="(f.passwordRetype.invalid && f.passwordRetype.dirty) || (submitted && f.passwordRetype.errors)"
                    class="p-error">
                    <div *ngIf="f.passwordRetype.errors">{{validate.MES_3}}</div>
                </div>
                <div class="p-error" *ngIf="!flagCheck">{{validate.MES_11}}</div>
            </div>
            <button type="submit" (click)="onSubmit()" class="btn-color col-sm-12 mt-3 mb-3 w-full" style="height: 4vh">Đặt Lại Mật Khẩu</button>
        </div>
    </form>
</div>