<div class="container-header align-items-center">
  <div class="logo">
    <img src="./assets/images\logoNew-removebg-preview.png" class="logo-its" />
  </div>
  <app-m-menu-content class="sm:hidden"></app-m-menu-content>
  <label class="header-document text-center hidden md:block" (click)="openDocumentDetail()"> Thông báo mới:
    {{headerDocument}}</label>
  <div class="hidden sm:block">
    <div class="drop-down-profile flex flex-row align-items-center">
    </div>
    <app-ng-drop-down></app-ng-drop-down>
  </div>
 </div>